@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.landing-page-and-dashboard {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* Typography */

.dark-text {
  color: #0a0a0a;
}

.alternate-dark-text {
  color: #030213;
}

.dark-grey-text {
  color: #4a5565;
}

.grey-text {
  color: #717182;
}

.white-text {
  color: #fff;
}

.yellow-text {
  color: #f0b100;
}

.blue-text {
  color: #dbeafe;
}

.footer-text {
  color: #d1d5dc;
}

/* Navbar */

nav {
  border-bottom: 1px solid #e5e7eb;
}

.navbar-content {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-logo {
  background: linear-gradient(to bottom right, #155dfc, #9810fa);
  height: 32px;
  width: 32px;
  border-radius: 10px;
}

.register-btn {
  background: #030213;
}

/* Hero */

.badge {
  background: #030213;
  border-radius: 8px;
}
